:root {
	--text-default-black: #101010;
	--text-primary-red: #db574d;
	--text-muted-grey: rgba(16, 16, 16, 0.6);
	--text-inverse-white: #ffffff;
}

body {
	font-family: 'ClashDisplay', sans-serif;
	color: var(--text-default-black);
}

.wrapper {
	min-height: 100%;
}

[class*='__container'] {
	padding-inline: 15px;
	max-width: 1430px;
	margin: 0 auto;
}

@media (max-width: 991.98px) {
	.block-header__title {
		font-size: 70px;
	}
}

@media (max-width: 767.98px) {
	.block-header__title {
		font-size: 38px;
	}
}
