:root {
	--text-default-black: #101010;
	--text-primary-red: #db574d;
	--text-muted-grey: rgba(16, 16, 16, 0.6);
	--text-inverse-white: #ffffff;
}

body {
	font-family: 'ClashDisplay', sans-serif;
	color: var(--text-default-black);
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.wrapper > main {
	flex-grow: 1;
}

[class*='__container'] {
	padding-inline: 15px;
	max-width: 1430px;
	margin: 0 auto;
}

/* Header */

.header {
	padding-inline: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
}
.header__logo {
	font-size: 24px;
	line-height: 1.1;
	text-transform: uppercase;
	transition: color 0.3s;
	color: var(--text-default-black);
}

.header__logo:hover {
	color: var(--text-primary-red);
}

.header__menu {
}
.menu {
}
.menu__icon {
}
.menu__body {
	/* display: none; */
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #ffffff;
}
.menu__list {
}
.menu__item {
}
.menu__link {
}
