:root {
	--text-default-black: #101010;
	--text-primary-red: #db574d;
	--text-muted-grey: rgba(16, 16, 16, 0.6);
	--text-inverse-white: #ffffff;
}

body {
	font-family: 'ClashDisplay', sans-serif;
	color: var(--text-default-black);
}

.wrapper {
	min-height: 100%;
}
